.overall {
    background-color: white;
    color: black;
    border-radius: 10px;
    position: fixed;
    top: 30vh;
    left: 28.7%;
    width: 43%;
    z-index: 100;
    overflow: hidden
    
    
    
}



header {
    background-color: purple;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    


}


button {
    background-color: purple;
    width: 50px;
    
}

h2 {
    margin: 0px;
    padding: 10px;

    
}

footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

p {
    padding: 10px;
}